<%- include("../partials/header.ejs") %>
<div class="container">
    <div class="newcomment my-5" align = 'center'>
         
        <h2 class="py-2 my-3">Edit your comment</h2>
        <form action="/movie/<%= movie_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <div class="mb-3 mx-5 my-3"> 
            <input type="text" class="form-control" name="comment[text]" placeholder="<%= comment.text %>" value = "<%= comment.text %>">
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
        <a href="/movie/<%= movie_id %>" class="back-edit">Go back</a>
        
        </form>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br>

<%- include("../partials/footer.ejs") %>