<%- include('../partials/header.ejs') %>

<div class="container p-5 ">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static text-primary bg-white">
            <h1 class="display-3 text-dark">Statement</h1>
            <hr>
            <p>Username: <span class="text-dark"><%= pay.user.username %></span></p>
            <p>Name: <span class="text-dark"><%= pay.user.firstname %> <%= pay.user.lastname %></span></p>
            <p>Email: <span class="text-dark"><%= pay.user.email %></span></p>

            <% theater.forEach(function(theaters){ %>    
                <% if(showtime.theater == theaters.id){ %>
                    <% movie.forEach(function(movies){ %>
                        <% if(theaters.movie == movies.id){ %>
                            <p>Movie: <span class="text-dark"><%= movies.name %></span></p>
                        <% } %>
                    <% }); %>    
                <% } %>   
            <% }); %>

            <% theater.forEach(function(theaters){ %>    
                <% if(showtime.theater == theaters.id){ %>
                    <% cinema.forEach(function(cinemas){ %>
                        <% if(theaters.cinema == cinemas.id){ %>
                            <p>Location: <span class="text-dark"><%= cinemas.name %></span></p>
                        <% } %>
                    <% }); %>    
                <% } %>   
            <% }); %>

            <% theater.forEach(function(theaters){ %>    
                <% if(showtime.theater == theaters.id){ %>
                    <p>Cinema: <span class="text-dark"><%= theaters.name %></span></p>
                <% } %>   
            <% }); %> 
            
            <p>Showtime: <span class="text-dark"><%= showtime.time %></span></p>
           

            <div class="d-flex">
                <p>Selected seat: </p>
                <% pay.seatselect.forEach(function(seatselect){ %>
                    <p class="text-dark px-1"><%= seatselect %></p>
                <% }); %>
            </div>
            <p>Total price: <span class="text-dark"><%= pay.totalprice %>฿</span></p>
            <p>Payment time: <span class="text-dark"><%= pay.time %></span></p>
            <p>Payment type: <span class="text-dark"><%= pay.payment.ptype %></span></p>
            <p>Card number: <span class="text-dark"><%= pay.payment.creditno %></span></p>
        </div>
        <div class="col-auto d-none d-lg-block">
            <% theater.forEach(function(theaters){ %>    
                <% if(showtime.theater == theaters.id){ %>
                    <% movie.forEach(function(movies){ %>
                        <% if(theaters.movie == movies.id){ %>
                            <img src="<%= movies.img %>" height="700px" width="600px"> 
                        <% } %>
                    <% }); %>    
                <% } %>   
            <% }); %>
        </div>
    </div>
    <a href="/user/<%= currentUser._id%>" class="back-sh btn" style="left: 1000px;">Back</a>
</div>

<%- include('../partials/footer.ejs') %>