<%- include('../partials/header.ejs') %>

<% let seatArr = seatselect.split(','); %>
<% let sumprice = 0; %>

<div class="container p-5">
    <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Your seats list</span>
                <span class="badge bg-primary rounded-pill"><%= seatArr.length %></span>
            </h4>

            <ul class="list-group mb-3">
                <% theater.forEach(function(theaters){ %>    
                    <% if(showtime.theater == theaters.id){ %>
                        <% movie.forEach(function(movies){ %>
                            <% if(theaters.movie == movies.id){ %>
                                <li class="list-group-item d-flex lh-sm justify-content-center"> 
                                    <div>
                                        <img src="<%= movies.img %>" width="200px" height="300px">
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-sm"> 
                                    <div>
                                        <h6>Movie: <%= movies.name %></h6>
                                    </div>
                                </li>
                            <% } %>
                        <% }); %>    
                    <% } %>   
                <% }); %>

                <% theater.forEach(function(theaters){ %>    
                    <% if(showtime.theater == theaters.id){ %>
                        <% cinema.forEach(function(cinemas){ %>
                            <% if(theaters.cinema == cinemas.id){ %>
                                <li class="list-group-item d-flex justify-content-between lh-sm"> 
                                    <div>
                                        <h6>Location: <%= cinemas.name %></h6>
                                    </div>
                                </li>
                            <% } %>
                        <% }); %>    
                    <% } %>   
                <% }); %>

                <% theater.forEach(function(theaters){ %>    
                    <% if(showtime.theater == theaters.id){ %>
                        <li class="list-group-item d-flex justify-content-between lh-sm"> 
                            <div>
                                <h6>Cinema: <%= theaters.name %></h6> 
                            </div>
                            <div>
                                <h6>Time: <%= showtime.time %></h6> 
                            </div>
                        </li>
                    <% } %>   
                <% }); %> 

                
                <% seatArr.forEach(function(seatselected){ %>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0"><%= seatselected %></h6>
                        </div>
                        <span class="text-muted">150฿</span>
                        <% sumprice += 150; %>
                    </li>
                <% }); %>    
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <span>Total (Bath)</span>
                    <strong><%= sumprice %><span> ฿</span></strong>
                </li>
            </ul>
        </div>
        
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Paying information</h4>
            <form class="needs-validation" action="/movie/ticketing/<%= showtime._id%>" method="POST" novalidate>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">First name</label>
                        <input type="text" class="form-control" id="firstName" name="user[firstname]" value="<%= currentUser.firstname %>" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
  
                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="lastName"  name="user[lastname]" value="<%= currentUser.lastname %>" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
  
                    <div class="col-12">
                        <label for="username" class="form-label">Username</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" id="username" name="user[username]" value="<%= currentUser.username %>" required>
                            <div class="invalid-feedback">
                                Your username is required.
                            </div>
                        </div>
                    </div>
  
                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="user[email]" value="<%= currentUser.email %>" required>
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>
                </div>
  
                <hr class="my-4">

                <h4 class="mb-3">Payment</h4>
  
                <div class="my-3">
                    <select class="form-select form-select-sm" name="paymentMethod">
                        <option value="credit">Credit</option>
                        <option value="debit">Debit</option>
                        <option value="paypal">Paypal</option>
                    </select>
                </div>
  
                <div class="row gy-3">
                    <div class="col-md-6">
                        <label for="cc-name" class="form-label">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" name="nameoncard" required>
                        <div class="invalid-feedback">
                            Name on card is required
                        </div>
                    </div>
  
                    <div class="col-md-6">
                        <label for="cc-number" class="form-label">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" name="creditno" required>
                        <div class="invalid-feedback">
                            Credit card number is required
                        </div>
                    </div>
  
                    <div class="col-md-3">
                        <label for="cc-expiration" class="form-label">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" name="exp" required>
                        <div class="invalid-feedback">
                            Expiration date required
                        </div>
                    </div>
  
                    <div class="col-md-3">
                        <label for="cc-cvv" class="form-label">CVV</label>
                        <input type="password" class="form-control" id="cc-cvv" name="cvv" required>
                        <div class="invalid-feedback">
                            Security code required
                        </div>
                    </div>
                </div>
  
                <br>

                <hr class="my-4">
                <% console.log(seatselect) %>
                <input type="hidden" name="seatselect" value="<%= seatselect %>">
                <input type="hidden" name="sumprice" value="<%= sumprice %>">
                <button class="w-100 btn btn-dark btn-lg" type="submit">Continue to checkout</button>
            </form>
        </div>
    </div>
</div>
<br>

<%- include('../partials/footer.ejs') %>