<%- include("../partials/header.ejs") %>
<div class="container">
    <div class="edit-user my-3 px-5" > 
        <h1 class="my-3" align = 'center'>Edit your User profile</h1>
        <form action="/user/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Firstname</label>
                    <input type="text" class="form-control" name= "user[firstname]" placeholder="<%= user.firstname %>", value = "<%= user.firstname %>">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">Lastname</label>
                    <input type="text" class="form-control" name= "user[lastname]" placeholder="<%= user.lastname %>", value = "<%= user.lastname %>">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" name= "user[username]" placeholder="<%= user.username %>", value = "<%= user.username %>">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">E-mail</label>
                    <input type="text" class="form-control" name= "user[email]" placeholder="<%= user.email %>", value = "<%= user.email %>">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">User Image</label>
                <img src="<%= user.profileImage %>" height = '300px'>
                <input type="file" class="form-control" name="profileImage" accept='img/*'>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-left: 300px;">Submit</button>
            <a href="/user/<%= user._id %>" class="back-edit">Go back</a>
        </form>

    </div>
</div>

<%- include("../partials/footer.ejs") %>