<%- include("../partials/header.ejs") %>
<div class="container">
  <div class="py-5">
    <h1 align = 'center' class="nowshow">Coming Soon</h1>
  </div>
  <div class="album">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% movies.forEach(function(movies){ %>
        <div class="col-sm-9">
          <div class="card shadow-sm">
            <img src="<%= movies.img %>" height="400px" class="index-image">
            <div class="card-body">
              <p class="card-text"><%= movies.name%> </p>
              <p class="card-text"><%= movies.date%></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/movie/<%= movies._id %>" class="view btn btn-sm btn-outline-view">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>


<%- include("../partials/footer.ejs") %>